<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Banlinea.Framework.Notification.EmailProviders.Contracts" version="1.0.5" targetFramework="net462" />
  <package id="RazorMachine" version="2.6.1" targetFramework="net462" />
  <package id="RestSharp" version="105.2.3" targetFramework="net462" />
</packages>