@model Presentation.Web.Colpatria.Models.ErrorViewModel
@{
    ViewBag.Title = "404 No encontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="step-content text-center error">
    <p class="err">No encontrado</p>
    <h1 class="cod-err">404</h1>
    <p class="none-err">Página no encontrada</p>

    <h3 class="title-err">Ocurrió un error en la pasarela</h3>
    <p class="desc-err">Por favor intente más tarde, si el problema persiste contacte a nuestra área de servicio al cliente. 6405868.</p>

    @*<h3 class="title-err">Lo sentimos</h3>
    <p class="desc-err">El recurso que estás buscando no está <br /> disponible en este momento o no existe. </p>*@
    <p class="">
        <a href="@Url.Action("Index", "Request")" class="btn btn-danger enviar nomargin">Volver a la página inicial</a>
    </p>
</div>