/* line 9, ../../../sass/sass/ellipsis.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/../Content/portal/xml/ellipsis.xml#ellipsis');
}
