<p>
    Tu solicitud ha sido <strong>APROBADA</strong>, dentro de los próximos cinco <strong>(5)</strong> días hábiles te contactaremos vía telefónica para coordinar la entrega de tu Tarjeta de Crédito en tu domicilio y así finalizar el trámite de la legalización, ten a mano los siguientes documentos según tu actividad económica:
</p>
<p>
    <strong>Empleado:</strong>
</p>
<p>
    <ul>
        <li> Original y fotocopia del documento de identidad ampliado al 150%.</li>
        <li>Carta laboral que incluya cargo, sueldo básico, tipo de contrato y antigüedad con fecha de expedición menor a 60 días o último comprobante de nómina; si el pago es mensual anexar uno (1) y si es quincenal anexar dos (2 ) o el certificado de ingresos y retenciones</li>
    </ul>
</p>

<p>
    <strong>Pensionado:</strong>
</p>
<p>
    <ul>
        <li>Original y fotocopia del documento de identidad ampliado al 150%.</li>
        <li>Último desprendible de pensión.</li>
    </ul>
</p>

<p>
    <strong>Independiente:</strong>
</p>
<p>
    <ul>
        <li>Original y fotocopia del documento de identidad ampliado al 150%.</li>
        <li>Declaración de Renta o RUT o carta de No Declarante</li>
    </ul>


</p>