<p>
    Tu solicitud ha sido <strong>@Model.UserInfoDto.ClassificationWsMotor.ToUpper()</strong>, agradecemos la oportunidad que nos brindaste. Si deseas solicitar nuevamente una Tarjeta de Crédito Colpatria, lo podrás hacer pasados 6 meses.
</p>