@using Crosscutting.Common
@using Presentation.Web.Colpatria.Enumerations
@model Application.Main.Definition.MyCustomProcessFlow.Steps.Responses.IAdditionalInformationResponse

@{
    ViewBag.Title = "Información complementaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="legal">
    <img src="~/Images/Content/legal.png" alt="Alternate Text" />
</div>
<div class="step-content">
    <div class="linea-step">
        <div class="col-xs-12 col-sm-6 desc-step">
            @if ((ProductType)Session["Product"] == ProductType.Ca)
            {
                <p>Empieza a disfrutar de tu Cuenta de Ahorros</p>
            }
            else
            {
                <p>Empieza a disfrutar de tu Tarjeta de Crédito</p>
            }
        </div>
        <div class="col-xs-12 col-sm-6 li-step">
            <div class="col-xs-4 col-sm-4 validado">1. Ingresa</div>
            <div class="col-xs-4 col-sm-4 validado"><span>2.</span> Valida</div>
            <div class="col-xs-4 col-sm-4 bull active"><span>3.</span> Solicita</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="conts">
        <div class="col-xs-12 col-md-4 bordes">
            <p class="desc-step">Número de Solicitud: <span class="red">@Model.UserInfoDto.SimpleId</span></p>
            <p class="desc-step">Registro: <span class="ok-rgtr"></span></p>
            <div class="resumen-data">
                @{
                    Html.RenderPartial("~/Views/Request/_SummaryData.cshtml", Model);
                }
            </div>
            <p class="desc-step">Validación de identidad: <span class="ok-rgtr"></span></p>
            <span class="proccess">Validado</span>
        </div>
        <div class="col-xs-12 col-md-8 paddmov">
            <p class=""><strong>@Model.UserInfoDto.Names,</strong> este es el último paso para tener “Tu <span class="red">Cuenta Cero</span>”</p>
            <div class="test">
                <form action="@Url.Action("SaveAdditionalInformation", "Request")" method="POST" data-x="x-validate" class="form-step form-step3">
                    <p class="bolds">Tus Datos</p>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6">
                            <label for="BirthDate">
                                Fecha de Nacimiento<span class="symbol required"></span>
                            </label>
                            <div class='input-group date' id='datepicker1'>
                                <input name="11" class="validate[required, custom[date]] form-control inp validateBirthDay" type="text" id="BirthDate" placeholder="" value="">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                            <div class="col-xs-12 col-sm-6">
                                <label>
                                    Estado Civil<span class="symbol required"></span>
                                </label>
                                <select name="34" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/"> </select>
                            </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group">
                            <div class="col-xs-12 col-sm-6">
                                <label>
                                    Actividad Económica <span class="symbol required"></span>
                                </label>
                                <select name="26" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/"></select>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <span class="input input--hoshi">
                                    <input name="23" class="input__field input__field--hoshi validate[required,custom[onlyLetterNumber]]" type="number" id="Income" placeholder="" value="">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Income">
                                        <span class="input__label-content input__label-content--hoshi input-block-level">Ingresos<span class="symbol required"></span></span>
                                    </label>
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-3 paddno">
                                <label>
                                    Servidor Público<span class="symbol required"></span>
                                </label>
                                <select name="35" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/"></select>
                            </div>
                        <div style="clear: both"></div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="form-group">
                        <p class="bolds">Tu Producto</p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-4">
                            <label class="">
                                Recojo la Tarjeta en<span class="symbol required"></span>
                            </label>
                            <select name="19" data-x="x-kdropdownauto" class="validate[maxSize[30]] form-control bord-red" data-url="/Data/GetDataListFilterValue/" type="text" id="19" data-cascadefrom="this"></select>
                        </div>
                            <div class="col-xs-12 col-sm-4">
                                <label class="">
                                    Oficina<span class="symbol required"></span>
                                </label>
                                <select name="38" data-x="x-kdropdownauto" class="validate[maxSize[50]] form-control bord-red" data-url="/Data/GetDataListFilterValue/" type="text" id="38" data-cascadefrom="this"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label>
                                    Tipo de Cuenta<span class="symbol required"></span>
                                </label>
                                <select name="18" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/"></select>
                            </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 space">
                            <input type="checkbox" class="grey greys validate[required]" value="18402" name="29" checked="checked">
                            <label class="check">
                                Recibir mi extracto por email
                            </label>
                            <input type="checkbox" class="grey greys validate[required]" value="18402" name="37" checked="checked">
                            <label class="check">
                                Recibir más información de productos
                            </label>
                        </div>

                        <div class="col-xs-12 col-sm-6 space">
                            <input class="btn btn-danger pull-right enviar" value="Siguiente" type="submit" >
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>