@model Presentation.Web.Colpatria.Models.UserViewModel

@{
    ViewBag.Title = "Retome su solicitud";
}


<form data-x="x-validate" action="@Url.Action("ReturnRequest", "Request")" method="POST" class="form-step">
    <div class="step-title">
        <strong>Retomando.</strong> Por favor retome su solicitud
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <span class="input input--hoshi">
                <input name="identification" class="input__field input__field--hoshi validate[required, maxSize[10]] onlynumber" type="text" id="Identification">
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Identification">
                    <span class="input__label-content input__label-content--hoshi input-block-level ">Número de documento<span class="symbol required"></span></span>
                </label>
            </span>
        </div>
        <div class="col-xs-6 col-md-3">
            <span class="input input--hoshi">
                <input name="simpleId" class="input__field input__field--hoshi validate[required, maxSize[6]] onlynumber" type="text" id="SimpleId">
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="SimpleId">
                    <span class="input__label-content input__label-content--hoshi input-block-level">Codigo de solicitud<span class="symbol required"></span></span>
                </label>
            </span>
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-3" hidden="hidden">
            <span class="input input--hoshi">
                <input name="productId" class="input__field input__field--hoshi validate[required,custom[onlyLetterNumber]]" type="number" id="ProductId" placeholder="" value="@Model.ProductId">
                <input name="sectionId" class="input__field input__field--hoshi validate[required,custom[onlyLetterNumber]]" type="number" id="CurrentSectionId" placeholder="" value="@Model.CurrentSectionId">
            </span>
        </div>
        <div class="col-xs-12 col-md-12">
            <button type="submit" class="btn btn-danger pull-right enviar">
                Siguiente
            </button>
        </div>
    </div>
</form>
