@model Core.DataTransferObject.Vib.UserInfoDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
    <table align="center" style="width:600px;max-width:100%;">
        <tr>
            <td>
                <div class="step-content" style="font-family: sans-serif;font-size: 14px;width: 100%;position: relative;color:#6e6e6e;">
                    <div class="conts">
                        <p class="desc-step" style="font-weight:bold;"><span class="red" style="color: #e20613;font-weight: bold;">Felicitaciones,</span> @Model.FullName</p>
                        <p class="bolds paddno">Tu Solicitud fue: <strong style="color:#000;">@*@Model.ResponseWsMotor.ToUpper()*@</strong>  </p>
                        <div class="contents aproved">
                            <p>Bogotá, @Model.CreatedDateExecution.ToLongDateString()</p>
                            <p>Señor(a) @Model.FullName</p>

                            <p>Asunto: Solicitud Tarjeta de Crédito Colpatria</p>
                            <p>Solicitud <strong style="color:#000;">@*@Model.ResponseWsMotor.ToUpper()*@</strong></p>
                            <p>Si tu solicitud ha sido <strong style="color:#000;">APROBADA,</strong> dentro de las próximas 36 horas te contactaremos vía telefónica para coordinar la entrega de tu Tarjeta Debito en tu domicilio y así finalizar el trámite de la legalización de tu cuenta. Recuerda tener a la mano el original de tu documento de identidad y una copia del mismo ampliado al 150%. </p>
                            <p>Si tu solicitud ha sido <strong style="color:#000;">PROCESADA/PENDIENTE DE DOCUMENTACIÓN</strong> te invitamos a acercarte a la oficina de Colpatria más cercana y llevar los siguientes documentos de acuerdo a tu actividad económica:</p>
                            <div class="table-responsive">
                                <table class="table table-bordered" style="border-collapse: collapse;border: solid 1px #6e6e6e;">
                                    <thead>
                                        <tr>
                                            <th style="border: solid 1px #6e6e6e;text-align: left;">Empleado</th>
                                            <th style="border: solid 1px #6e6e6e;text-align: left;">Pensionado</th>
                                            <th style="border: solid 1px #6e6e6e;text-align: left;">Independiente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: solid 1px #6e6e6e;text-align: left;">Original del documento de identidad.</td>
                                            <td style="border: solid 1px #6e6e6e;text-align: left;">Original del documento de identidad.</td>
                                            <td style="border: solid 1px #6e6e6e;text-align: left;">Original del documento de identidad.</td>
                                        </tr>
                                        <tr>
                                            <td style="border: solid 1px #6e6e6e;text-align: left;">Comprobante de nómina o certificación laboral.</td>
                                            <td style="border: solid 1px #6e6e6e;text-align: left;">Fotocopia de comprobante de pensión o resolución de pensión.</td>
                                            <td style="border: solid 1px #6e6e6e;text-align: left;">Declaración de renta o Certificado de Cámara de Comercio o Balance General o Estado de Pérdidas y Ganancias o Carta de Actividad Comercial o RUT o VUR.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p>Si su solicitud ha sido <strong style="color:#000;">NO PROCESADA</strong> te recomendamos acercarte a la oficina de <span class="red">Colpatria</span> MAS CERCANA.</p>

                            <div class="info">
                                <div class="desc-info" style="width: 100%;display: inline-block;vertical-align: top;position: relative;padding: 0 2% 0 0;box-sizing: border-box;">
                                    <p class="">
                                        Cualquier duda o inquietud puedes contactarte:<br />
                                        Bogotá 7561616 - Cali 4891616 - Medellín 6041616 - Barranquilla 3851616 - Ibagué 2771616 -Pereira 3401616 -
                                        Cartagena 6931616 - Neiva 8631616 - Bucaramanga 6971616 - Cucuta 5955795 - Valledupar 5898480 Popayán
                                        8353735 - Villavicencio 6836126 - Santa Marta 4365966 - Resto del País 01 8000 522 222
                                        Mail: servicliente@colpatria.com
                                    </p>
                                </div>
                                <div class="info-log" style="width: 100%;display: inline-block;vertical-align: top;position: relative;padding-top: 10%;text-align:center;">
                                    <div class="logo-info"><img style="width:auto;max-width:100%;border:0;" src="https://scotiabankfiles.azureedge.net/scotiabank-colombia/Colpatria/imagenes/logos/logo-colpatria.png" alt="Colpatria" /></div>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>