@model dynamic

@{
    ViewBag.Title = "Datos personales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
<h2>
    <strong>Datos básicos</strong>
</h2>

PASO 1: Valida tu Identidad
<br/>
<br/>
<form action="@Url.Action("Register", "Request")" method="POST" data-x="x-validate">
    <div class="form-group panel">
        <div class="row col-md-12">
            <div class="col-md-6">
                <label>
                    Nombre*<span class="symbol required"></span>
                    <input name="FirstName" type="text" class="form-control input-block-levelvalidate[required] onlyletter" placeholder="" value="Rodrigo">
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    Apellidos*<span class="symbol required"></span>
                    <input name="FirstLastName" type="text" class="form-control input-block-level validate[required] onlyletter" placeholder="" value="Lopez">
                </label>
                <label>
                    <input name="SecondLastName" type="text" class="form-control input-block-level validate[required] onlyletter" placeholder="" value="Ariza">
                </label>
            </div>
        </div>
    </div>

    <div class="form-group panel">
        <div class="row col-md-12">
            <div class="col-md-6">
                <label>
                    Tipo de documento*<span class="symbol required"></span>
                    <select name="DocType" class="input-block-level -w100 validate[funcCall[XGeneral.dropdownlistvalidate]] form-control" placeholder="Tipo de Documento" data-x="x-kdropdown" data-url="/Data/GetDataListValues/"
                            data-value="">
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                        <option value="CARNET DIPLOMATICO">CARNET DIPLOMATICO</option>
                        <option value="PASAPORTE">PASAPORTE</option>
                        <option value="REGISTRO CIVIL">REGISTRO CIVIL</option>
                        <option value="TI">TI</option>
                    </select>
                </label>
                <label>
                    Número*
                    <input name="Number" type="text" class="form-control input-block-level validate[required] onlynumber" placeholder="" value="1030675786">
                </label>
            </div>
            <div class="col-md-6">
                Fecha de Expedicion*<span class="symbol required"></span>
                <input name="ExpeditionDate" class="inputGrl validate[required] bd-lt sz-inpfull fz1em validateMaxToday form-control" />
            </div>
        </div>
    </div>

    <div class="form-group panel">
        <div class="row col-md-12">
            <div class="col-md-6">
                <label>
                    Correo electronico:<span class="symbol required"></span>
                    <input name="email" type="text" class="inputGrl validate[required,custom[email]] form-control " placeholder="" value="banlinea@banlinea.com">
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    Télefono
                    <input name="telephone" type="text" class="form-control input-block-levelvalidate[required]" placeholder="" value="3366768">
                </label>
                <label>
                    Celular
                    <input name="cellphone" type="text" class="form-control input-block-levelvalidate[required]" placeholder="" value="3017891369">
                </label>
            </div>
        </div>
    </div>

    <div class="form-group panel">
        <div class="row col-md-12">

            <div class="col-md-6">
                Fecha de Nacimiento*<span class="symbol required"></span>

                <input name="BirthDate" class="inputGrl validateBirthDay validate[required] form-control validateMaxToday" id="">
            </div>

            <div class="col-md-6">
                <label>
                    Producto*<span class="symbol required"></span>
                    <select name="" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control" placeholder="" data-x="x-kdropdown" data-url="/Data/GetDataListValues/"
                            data-value="">
                        <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group panel">
        <div class="row col-md-12">
            <div class="col-md-6">
                <label class="radio-inline">
                    <input type="checkbox" class="grey validate[required]" value="" name="" checked="checked">
                    Acepto términos y condiciones
                </label>
                <a class="radio-inline" href="@Url.Action("TermsAndConditions", "Request")">VER+</a>
            </div>
            <div class="col-md-6">

                <button type="submit" class="btn btn-green pull-right btn-squared btn-block">
                    Enviar Ahora<i class="fa fa-arrow-circle-right"></i>
                </button>

            </div>
        </div>
    </div>

</form>