@{
    ViewBag.Title = "Banner Colpatria";
}
<div class="step-content text-center">
<a href="@Url.Action("ValidateProduct", new {productType = 1})">
        <img caption="false" alt="Solicitar producto"
             src="//scotiabankfiles.azureedge.net/scotiabank-colombia/Colpatria/imagenes/personas/solicitud-tarjetas-de-credito.png"
             height="164" width="220">
    </a>


<a href="@Url.Action("ValidateProduct", new {productType = 2})">
    <img alt="solicitar tarjeta credito" src="//scotiabankfiles.azureedge.net/scotiabank-colombia/Colpatria/imagenes/personas/cuenta-cero.png"
         height="164" width="220" caption="false">
</a>
    </div>
