@model dynamic

@{
    ViewBag.Title = "Datos personales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Datos básicos</h2>


<div class="panel-body">
    <div class="col-md-12">
        <div class="col-md-6">
            <label>Nombre*</label>
            <input type="text" class="form-control col-md-12" placeholder="Nombre" aria-describedby="basic-addon1"/>
        </div>
        <div class="col-md-6">
            <label>Apellidos*</label>
            <input type="text" class="form-control col-md-12" placeholder="Apellidos" aria-describedby="basic-addon1"/>
        </div>
    </div>
</div>