<p>
    Tu solicitud ha sido <strong>PROCESADA/PENDIENTE DE DOCUMENTACIÓN</strong>, te invitamos a acercarte a la oficina de Colpatria más cercana y llevar los siguientes documentos de acuerdo a tu actividad económica:
</p>
<p>
    <strong>Empleado:</strong>
</p>
<p>
    <ul>
        <li> Original del documento de identidad.</li>
        <li>Comprobante de nómina o certificación laboral.</li>
    </ul>
</p>

<p>
    <strong>Pensionado:</strong>
</p>
<p>
    <ul>
        <li>Original del documento de identidad.</li>
        <li>Fotocopia de comprobante de pensión o resolución de pensión.</li>
    </ul>
</p>

<p>
    <strong>Independiente:</strong>
</p>
<p>
    <ul>
        <li>Original del documento de identidad</li>
        <li>Declaración de renta o Certificado de Cámara de Comercio o Balance General o Estado de Pérdidas y Ganancias</li>
    </ul>


</p>