<p>
    Tu solicitud ha sido <strong>APROBADA</strong>, dentro de las próximas treinta y seis <strong>(36)</strong> horas te contactaremos vía telefónica para coordinar la entrega de tu Tarjeta Débito en tu domicilio y así finalizar el trámite de la legalización de tu cuenta. Recuerda tener a la mano el original de tu documento de identidad y una copia del mismo ampliado al 150%.
</p>