<div class="container body-content">
    <footer style="text-align: center">
      <div class="col-xs-12 col-sm-6 text-foot">Todos los derechos reservados. COLPATRIA MULTIBANCA 2016.</div>
      <div class="col-xs-12 col-sm-6 img-foot"> <img src="~/Images/Content/foot.png" alt="Alternate Text" /> </div>

    </footer>

</div>
    <!-- Modal de aprovacion  -->
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>SOLICITUD FINALIZADA</h4>
                    <h6>Número de Solicitud: <span>56524</span></h6>
                </div>
                <div class="modal-body aprovedd">
                  <p><span class="red">Colpatria</span> te infoma que  has finalizado el proceso de solicitud de “TuCuenta de Cero”,  <strong>hemos enviado copia de la información al correo electrónico registrado</strong> <span>“camiloflorez@correo.com”</span>.</p>
                    <p><strong>A continuación puedes  dar clic al botón rojo para volver.</strong></p>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("FinalSummary", "Request")"><button class="btn btn-danger btn-default terminar"><span class="glyphicon glyphicon-remove"></span> Terminar</button></a>
                </div>
            </div>

        </div>
    </div>
</div>

    <!-- Fin Modal de aprovacion  -->