
<div class="container body-content">
    <footer style="text-align: center">
        <div class="col-xs-12 col-sm-6 text-foot">Todos los derechos reservados. COLPATRIA MULTIBANCA 2016.</div>
        <div class="col-xs-12 col-sm-6 img-foot">
            <img src="~/Images/Content/foot.png" alt="Alternate Text"/>
        </div>
    </footer>
</div>
