<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
    <table align="center" style="width:600px;max-width:100%;">
        <tr>
            <td>
                <div class="step-content" style="font-family: sans-serif;font-size: 14px;width: 100%;position: relative;color:#6e6e6e;">
                    <div class="conts">
                        <p class="desc-step" style="font-weight:bold;"><span class="red" style="color: #e20613;font-weight: bold;">Felicitaciones,</span> <strong>Camilo Flórez</strong></p>
                        <p class="bolds paddno">Tu Solicitud fue: <strong style="color:#000;">Aprobada</strong>  </p>
                        <div class="contents aproved">
                            <p>Bogotá, agosto 30 de 2016</p>
                            <p>Señor(a) Camilo Florez</p>
                            <p>Asunto: Solicitud Cuenta de Ahorros Colpatria</p>
                            <p>Con respecto a tu solicitud Nº <span>3602</span></p>
                            <p><strong style="color:#000;">Si tu solicitud HA SIDO APROBADA</strong></p>
                            <p>En un plazo no mayor a cinco (5) días hábiles, uno de nuestros ejecutivos se pondrá en contacto telefónico contigo para acordar la cita y la recolección de documentos necesarios para la entrega de tu Tarjeta de Crédito Colpatria.</p>
                            <p>* Recuerda que esta es una Pre-Aprobación del producto, la aprobación definitiva está sujera a validaciones internas de nuestra entidad.</p>
                            <P></P>
                            <p><strong style="color:#000;">Si tu solicitud HA SIDO NEGADA</strong></p>
                            <p>Agradecemos la preferencia y tu interés por los productos del Banco y esperamos poder servirte en una próxima oportunidad.</p>
                            <p>Si lo deseas podrás realizar una nueva solicitud, cumplidos 6 meses de esta comunicación, tiempo en el cual el Banco Colpatria estará dispuesto a revisar y evaluar nuevamente tu petición.</p>

                            <div class="info">
                                <div style="width:100px;"><img style="width:auto;max-width:100%;" src="http://core0.staticworld.net/images/article/2016/01/messages-mac-icon-100638468-large.png" alt="Chat"></div>
                                <div class="desc-info" style="width: 100%;display: inline-block;vertical-align: top;position: relative;padding: 0 2% 0 0;box-sizing: border-box;font-size:12px;">
                                    <p class="">
                                        Para más información contacta a nuestros asesores de servicio a través de nuestro Chat en www.colpatria.com<br>
                                        en los siguientes horarios: Lunes a Viernes de 7:00am a 7:00pm - Sábados de 8:00am a 5:00pm
                                    </p>
                                </div>
                                <div class="info-log" style="width: 100%;display: inline-block;vertical-align: top;position: relative;padding-top: 10%;text-align:center;">
                                    <div class="logo-info"><img style="width:auto;max-width:100%;border:0;" src="https://scotiabankfiles.azureedge.net/scotiabank-colombia/Colpatria/imagenes/logos/logo-colpatria.png" alt="Colpatria" /></div>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>